{% extends 'temp/admin.html' %}
{% block base %}
	<h1 align="center">registration</h1>
	<form method="post">
         {% csrf_token %}
	<table align="center">
		<tr>
			<td>name</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>date of birth</td>
			<td><input type="date" name="date"></td>

		</tr>
		<tr>
			<td>age</td>
			<td><input type="text" name="age"></td>
		</tr>
		<tr>
			<td>gender:</td>
			<td><input type="radio" name="gender" value="male">male</td>
			<td><input type="radio" name="gender"value="female">female</td>
		</tr>
		<tr>
			<td>email</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>address</td>
			<td><input type="text" name="address"></td>
		</tr>
		<tr>
			<td>guardian</td>
			<td><input type="text" name="guardian"></td>
		</tr>
		<tr>
			<td>phone number</td>
			<td><input type="text" name="number"></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="register" value="register"></td>
		</tr>
	</table>
	</form>
{% endblock %}