{% extends 'temp/organisation.html' %}
{% block base %}
<h1 align="center">working hour</h1>
<form method="post">
    {% csrf_token %}
<table align="center">

        <tr>
            <td>department</td>
            <td><input type="text"name="department"></td>
        </tr>
        <tr>
            <td>start time</td>
            <td><input type="time"name="working hours"></td>
            <td>end time</td>
            <td><input type="time"name="hours"></td>
        </tr>
    <tr>
        <td></td>
        <td><input type="submit"name="post"value="post"></td>
    </tr>
</table>
</form>
{% endblock %}